# PHP version settings. Allowed value is 5.6 or 7.0 or 7.1 or 7.2 or 7.3.
PHP_VERSION=7.1

# Web server type. Allowed value is apache or nginx.
WEB_SERVER_TYPE=nginx

# MySQL settings
MYSQL_DATABASE=bitrix
MYSQL_USER=bitrix
MYSQL_PASSWORD=123
MYSQL_ROOT_PASSWORD=123
MYSQL_VERSION=5.7

INTERFACE=192.168.10.27
DOMAIN=test.loc

# Site path - пример - /home/user/projects/test_project
SITE_PATH=/var/www/bitrix

#Backup settings
MYSQL_CONTAINER_NAME="mysql"
// пример - /home/user/projects/docker/test_project/bitrix.sql
PATH_TO_BACKUP="/path/to/sql/dump/bitrix.sql"